TODO:
    
Decide on how to create 2010 geom table from 2000.
- We can create new geoid indices on 2000 tables to create a massive join
- We can ingest entire 01-37 tables individually into RAM in python and interpolate in ram in place and write to
     new 2000 tables
- For either of the above we can decide to write all results into a single massive table, including new geoid column

In [28]:
import array, csv, json, math, multiprocessing, numpy, os, random, re, shutil
import shapely, shapely.wkb, struct, subprocess, sys, tempfile, threading, urllib2

def exec_ipynb(filename_or_url):
    nb = (urllib2.urlopen(filename_or_url) if re.match(r'https?:', filename_or_url) else open(filename_or_url)).read()
    jsonNb = json.loads(nb)
    #check for the modified formatting of Jupyter Notebook v4
    if(jsonNb['nbformat'] == 4):
        exec '\n'.join([''.join(cell['source']) for cell in jsonNb['cells'] if cell['cell_type'] == 'code']) in globals()
    else:
        exec '\n'.join([''.join(cell['input']) for cell in jsonNb['worksheets'][0]['cells'] if cell['cell_type'] == 'code']) in globals()

exec_ipynb('timelapse-utilities.ipynb')

set_default_psql_database('census2010')

set default_psql_database to census2010

Crosswalk:  download and document
---------------------------------

In [2]:
download_file('http://users.pop.umn.edu/~jps/NHGIS_block2000_to_block2010.zip', 'capture/NHGIS_block2000_to_block2010.zip')

capture/NHGIS_block2000_to_block2010.zip already downloaded

In [ ]:
unzip_file('capture/NHGIS_block2000_to_block2010.zip')

In [ ]:
!cat capture/NHGIS_block2000_to_block2010/readme.txt

In [4]:
!head capture/NHGIS_block2000_to_block2010/crosswalk_block2000_block2010_v002.csv

F010010201001000,F010010201002000,0.03589746619998647,0.008988216111782212
F010010201001000,F010010201002001,0.2533302636105429,0.2637247584498352
F010010201001000,F010010201002002,0,0.000384823707001651
F010010201001000,F010010201002003,0.0762971112558778,0.055429504205606606
F010010201001000,F010010201002004,0.03244112598630059,0.007542916917166581
F010010201001000,F010010201002005,0.41140573696128735,0.18976089744424943
F010010201001000,F010010201002006,0.019909297520890202,0.0019957785723459264
F010010201001000,F010010201002007,0.09924123825815177,0.45777176371172934
F010010201001000,F010010201002008,0.07147776020696295,0.014401340880283067
F010010201001001,F010010201002004,0.13459272780487186,0.04845679605124167

In [3]:
psql('SELECT * FROM crosswalk_block2000_block2010 '
    "WHERE geoid2010='010010201002007'")

SELECT * FROM crosswalk_block2000_block2010 WHERE geoid2010='010010201002007'
Finished execution in 0.185084 secs: geoid2000    |    geoid2010    |  weight   |  parea
-----------------+-----------------+-----------+----------
 010010201001000 | 010010201002007 | 0.0992412 | 0.457772
(1 row)

Crosswalk columns are:
block_id_2000, block_id_2010, weight, parea
We'll tentatively ignore the last.

For a data column X, we want to compute:
x2k(block_id_2010) = sum(x2k(block_id_2000)*weight(block_id_2000, block_id_2010)) for all block_id_2000 overlapping block_id_2010

Create crosswalk_block2000_block2010 database table
------------------------------------

In [ ]:
psql('CREATE TABLE crosswalk_block2000_block2010 '
    '(geoid2000 varchar, '
    ' geoid2010 varchar, '
    ' weight real, '
    ' parea real)')

In [ ]:
full_path = os.path.abspath('capture/NHGIS_block2000_to_block2010/crosswalk_block2000_block2010_v002.csv')
psql("COPY crosswalk_block2000_block2010 "
     "FROM '%s' DELIMITER ',' CSV;" % full_path,
     database='census2010')

In [ ]:
psql("UPDATE crosswalk_block2000_block2010 SET "
     "geoid2000 = right(geoid2000, 15), "
     "geoid2010 = right(geoid2010, 15)",
     database='census2010')

In [ ]:
psql("CREATE INDEX ON crosswalk_block2000_block2010 (geoid2010)",
     database='census2010')

In [19]:
psql("CREATE INDEX ON crosswalk_block2000_block2010 (geoid2000)",
     database='census2010')

CREATE INDEX ON crosswalk_block2000_block2010 (geoid2000)
Finished execution in 179.913 secs: CREATE INDEX

In [ ]:
psql('\d crosswalk_block2000_block2010', database='census2010')


Create interpolated tables
--------------------------

In [73]:
psql('\d census2010_block_idxs')

\d census2010_block_idxs
Finished execution in 0.229947 secs: Table "public.census2010_block_idxs"
    Column    |       Type        |                                  Modifiers
--------------+-------------------+------------------------------------------------------------------------------
 blockidx2010 | integer           | not null default nextval('census2010_block_idxs_blockidx2010_seq'::regclass)
 geoid2010    | character varying |
Indexes:
    "census2010_block_idxs_pkey" PRIMARY KEY, btree (blockidx2010)
    "census2010_block_idxs_geoid2010_idx" UNIQUE, btree (geoid2010)

In [32]:
# Old code for creating a new interpolated table
#DROP TABLE IF EXISTS {new_table};
#DROP TABLE IF EXISTS {tmp_table};
#CREATE TABLE {tmp_table} (blockidx2010, geoid2010, {columns})
#AS SELECT MIN(blockidx2010), geoid2010, {sums}
#FROM crosswalk_block2000_block2010
#JOIN {old_table} USING (geoid2000)
#JOIN census2010_block_idxs USING (geoid2010)
#GROUP BY geoid2010;
#CREATE UNIQUE INDEX ON {tmp_table} (blockidx2010);
#CREATE UNIQUE INDEX ON {tmp_table} (geoid2010);
#ALTER TABLE {tmp_table} RENAME TO {new_table};


# census2010_block2010
# census2000_block2010

def interpolate_2000_to_2010(old_table, column, force=False):
    # old_table: sf1_2000_block_p001
    # census_table_name: p001
    # SUM(weight * p001001)
    dataset = 'census2000_block2010'
    
    cache_dir = 'columncache'
    
    # dataset, e.g. census2010 or census2000_int2010 or LEHD 2011
    # table within dataset, e.g. P001 for census, HAC for LEHD
    # column within table
    # {cache_dir}/{dataset}/{census_table}-{column}.numpy
    
    dir_name = '{cache_dir}/{dataset}'.format(**locals())
    !mkdir -p $dir_name
    
    cache_filename = '{dir_name}/{column}.numpy'.format(**locals())
    if os.path.exists(cache_filename) and not force:
        sys.stdout.write('{cache_filename} already exists\n'.format(**locals()))
        return

    query = """
SELECT SUM(weight * {column})::REAL
FROM crosswalk_block2000_block2010
JOIN {old_table} USING (geoid2000)
GROUP BY geoid2010
ORDER BY geoid2010;
""".format(**locals())

    data = numpy.array([0] + [x[0] for x in query_psql(query)],
                       dtype=numpy.float32)
    
    numpy_atomic_save(cache_filename, data)

# interpolate_2000_to_2010('sf1_2000_block_p001', 'p001001')

Execution of SELECT SUM(weight * p001001)::REAL
FROM crosswalk_block2000_block2010
JOIN sf1_2000_block_p001 USING (geoid2000)
GROUP BY geoid2010
ORDER BY geoid2010;
took 127.782 seconds and returned 11078297 rows
Wrote 11078298 records to columncache/census2000_block2010/p001001.numpy

In [ ]:
pool = SimpleThreadPoolExecutor(8)  # seems good for 64GB RAM earthserve2

for table in sorted(get_table_names('sf1_2000_block_%')):
    for column in get_census_column_names_from_view(table):
        pool.submit(interpolate_2000_to_2010, table, column)

pool.shutdown()
None

Execution of SELECT table_name FROM INFORMATION_SCHEMA.tables WHERE table_schema='public' AND table_type='BASE TABLE' AND table_name LIKE 'sf1_2000_block_%'
took 0.014595 seconds and returned 286 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h001' AND column_name LIKE 'h001%'
took 0.0153351 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h002' AND column_name LIKE 'h002%'
took 0.0142982 seconds and returned 6 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h003' AND column_name LIKE 'h003%'
took 0.0157449 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h004' AND column_name LIKE 'h004%'
took 0.010035 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h005' AND column_name LIKE 'h005%'
took 0.0148029 seconds and returned 7 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h006' AND column_name LIKE 'h006%'
took 0.0126998 seconds and returned 8 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h007' AND column_name LIKE 'h007%'
took 0.0134308 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h008' AND column_name LIKE 'h008%'
took 0.00834703 seconds and returned 7 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h009' AND column_name LIKE 'h009%'
took 0.010828 seconds and returned 15 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h010' AND column_name LIKE 'h010%'
took 0.00984597 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011' AND column_name LIKE 'h011%'
took 0.0094161 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011a' AND column_name LIKE 'h011a%'
took 0.00874591 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011b' AND column_name LIKE 'h011b%'
took 0.00841808 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011c' AND column_name LIKE 'h011c%'
took 0.0106471 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011d' AND column_name LIKE 'h011d%'
took 0.0085299 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011e' AND column_name LIKE 'h011e%'
took 0.0130959 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011f' AND column_name LIKE 'h011f%'
took 0.010571 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011g' AND column_name LIKE 'h011g%'
took 0.0152521 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011h' AND column_name LIKE 'h011h%'
took 0.00995803 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h011i' AND column_name LIKE 'h011i%'
took 0.0079968 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012' AND column_name LIKE 'h012%'
took 0.011806 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012a' AND column_name LIKE 'h012a%'
took 0.01352 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012b' AND column_name LIKE 'h012b%'
took 0.00963879 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012c' AND column_name LIKE 'h012c%'
took 0.010164 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012d' AND column_name LIKE 'h012d%'
took 0.00998402 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012e' AND column_name LIKE 'h012e%'
took 0.0142291 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012f' AND column_name LIKE 'h012f%'
took 0.010401 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012g' AND column_name LIKE 'h012g%'
took 0.00851178 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012h' AND column_name LIKE 'h012h%'
took 0.013555 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h012i' AND column_name LIKE 'h012i%'
took 0.00846887 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h013' AND column_name LIKE 'h013%'
took 0.00826406 seconds and returned 8 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h014' AND column_name LIKE 'h014%'
took 0.0081439 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015' AND column_name LIKE 'h015%'
took 0.00807905 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015a' AND column_name LIKE 'h015a%'
took 0.00815511 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015b' AND column_name LIKE 'h015b%'
took 0.010155 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015c' AND column_name LIKE 'h015c%'
took 0.00874305 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015d' AND column_name LIKE 'h015d%'
took 0.00820684 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015e' AND column_name LIKE 'h015e%'
took 0.0125859 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015f' AND column_name LIKE 'h015f%'
took 0.012886 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015g' AND column_name LIKE 'h015g%'
took 0.013433 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015h' AND column_name LIKE 'h015h%'
took 0.00978708 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h015i' AND column_name LIKE 'h015i%'
took 0.0085609 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016' AND column_name LIKE 'h016%'
took 0.0108559 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016a' AND column_name LIKE 'h016a%'
took 0.00872707 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016b' AND column_name LIKE 'h016b%'
took 0.0126879 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016c' AND column_name LIKE 'h016c%'
took 0.0103731 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016d' AND column_name LIKE 'h016d%'
took 0.0101259 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016e' AND column_name LIKE 'h016e%'
took 0.00981617 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016f' AND column_name LIKE 'h016f%'
took 0.00923491 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016g' AND column_name LIKE 'h016g%'
took 0.00820804 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016h' AND column_name LIKE 'h016h%'
took 0.00822997 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h016i' AND column_name LIKE 'h016i%'
took 0.00799704 seconds and returned 19 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h017' AND column_name LIKE 'h017%'
took 0.00978994 seconds and returned 69 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h018' AND column_name LIKE 'h018%'
took 0.0116591 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h019' AND column_name LIKE 'h019%'
took 0.0113511 seconds and returned 5 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_h020' AND column_name LIKE 'h020%'
took 0.00829697 seconds and returned 5 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p001' AND column_name LIKE 'p001%'
took 0.00771785 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p002' AND column_name LIKE 'p002%'
took 0.00973606 seconds and returned 6 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p003' AND column_name LIKE 'p003%'
took 0.00850296 seconds and returned 71 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p004' AND column_name LIKE 'p004%'
took 0.010498 seconds and returned 73 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p005' AND column_name LIKE 'p005%'
took 0.00980186 seconds and returned 71 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p006' AND column_name LIKE 'p006%'
took 0.00893402 seconds and returned 57 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p007' AND column_name LIKE 'p007%'
took 0.00808191 seconds and returned 8 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p008' AND column_name LIKE 'p008%'
took 0.0139172 seconds and returned 17 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p009' AND column_name LIKE 'p009%'
took 0.0129199 seconds and returned 7 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p010' AND column_name LIKE 'p010%'
took 0.00876188 seconds and returned 15 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p011' AND column_name LIKE 'p011%'
took 0.00844502 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012' AND column_name LIKE 'p012%'
took 0.00858498 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012a' AND column_name LIKE 'p012a%'
took 0.00858998 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012b' AND column_name LIKE 'p012b%'
took 0.0127439 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012c' AND column_name LIKE 'p012c%'
took 0.0128291 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012d' AND column_name LIKE 'p012d%'
took 0.00845504 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012e' AND column_name LIKE 'p012e%'
took 0.00990701 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012f' AND column_name LIKE 'p012f%'
took 0.008533 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012g' AND column_name LIKE 'p012g%'
took 0.00859022 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012h' AND column_name LIKE 'p012h%'
took 0.00848103 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p012i' AND column_name LIKE 'p012i%'
took 0.00850701 seconds and returned 49 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013' AND column_name LIKE 'p013%'
took 0.00794601 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013a' AND column_name LIKE 'p013a%'
took 0.00796509 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013b' AND column_name LIKE 'p013b%'
took 0.00793982 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013c' AND column_name LIKE 'p013c%'
took 0.00820494 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013d' AND column_name LIKE 'p013d%'
took 0.00817704 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013e' AND column_name LIKE 'p013e%'
took 0.00813699 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013f' AND column_name LIKE 'p013f%'
took 0.00795817 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013g' AND column_name LIKE 'p013g%'
took 0.00796795 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013h' AND column_name LIKE 'p013h%'
took 0.00792289 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p013i' AND column_name LIKE 'p013i%'
took 0.00791097 seconds and returned 3 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p014' AND column_name LIKE 'p014%'
took 0.0091989 seconds and returned 43 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015' AND column_name LIKE 'p015%'
took 0.010391 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015a' AND column_name LIKE 'p015a%'
took 0.010849 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015b' AND column_name LIKE 'p015b%'
took 0.00883389 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015c' AND column_name LIKE 'p015c%'
took 0.0107708 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015d' AND column_name LIKE 'p015d%'
took 0.00951004 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015e' AND column_name LIKE 'p015e%'
took 0.00949502 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015f' AND column_name LIKE 'p015f%'
took 0.00960493 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015g' AND column_name LIKE 'p015g%'
took 0.00901604 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015h' AND column_name LIKE 'p015h%'
took 0.00953913 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p015i' AND column_name LIKE 'p015i%'
took 0.00833511 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016' AND column_name LIKE 'p016%'
took 0.00683308 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016a' AND column_name LIKE 'p016a%'
took 0.00876498 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016b' AND column_name LIKE 'p016b%'
took 0.00881386 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016c' AND column_name LIKE 'p016c%'
took 0.00675201 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016d' AND column_name LIKE 'p016d%'
took 0.00668001 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016e' AND column_name LIKE 'p016e%'
took 0.00650311 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016f' AND column_name LIKE 'p016f%'
took 0.00679708 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016g' AND column_name LIKE 'p016g%'
took 0.010469 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016h' AND column_name LIKE 'p016h%'
took 0.0068841 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p016i' AND column_name LIKE 'p016i%'
took 0.00651097 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p017' AND column_name LIKE 'p017%'
took 0.0114729 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p017a' AND column_name LIKE 'p017a%'
took 0.00792885 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p017b' AND column_name LIKE 'p017b%'
took 0.00836611 seconds and returned 1 rows
Execution of SELECT column_name FROM information_schema.columns WHERE table_name='sf1_2000_block_p017c' AND column_name LIKE 'p017c%'

Sanity-checking first interpolated table
----------------------------------------
The 2000 census includes Puerto Rico (FIPS 72), but the crosswalk doesn't, so checking that the overall populations match requires filtering out Puerto Rico from the original census count.

In [14]:
psql('\d sf1_2000_int2010_p001')
psql('SELECT * FROM sf1_2000_int2010_p001 LIMIT 5;')
psql('select SUM(p001001) from sf1_2000_int2010_p001;')
psql('select SUM(p001001) from sf1_2000_block_p001;')
psql("select SUM(p001001) from sf1_2000_block_p001 WHERE LEFT(geoid2000,2) != '72';")

\d sf1_2000_int2010_p001
Finished execution in 0.33153 secs: Table "public.sf1_2000_int2010_p001"
    Column    |       Type        | Modifiers
--------------+-------------------+-----------
 blockidx2010 | integer           |
 geoid2010    | character varying |
 p001001      | double precision  |
Indexes:
    "sf1_2000_int2010_p001_tmp_blockidx2010_idx" UNIQUE, btree (blockidx2010)
    "sf1_2000_int2010_p001_tmp_geoid2010_idx" UNIQUE, btree (geoid2010)
SELECT * FROM sf1_2000_int2010_p001 LIMIT 5;
Finished execution in 0.108088 secs: blockidx2010 |    geoid2010    |     p001001
--------------+-----------------+------------------
            1 | 010010201001000 |               75
            2 | 010010201001001 |                0
            3 | 010010201001002 |                4
            4 | 010010201001003 | 57.0367555618286
            5 | 010010201001004 |                0
(5 rows)
select SUM(p001001) from sf1_2000_int2010_p001;
Finished execution in 1.99111 secs: sum
-----------------
 281421906.05482
(1 row)
select SUM(p001001) from sf1_2000_block_p001;
Finished execution in 1.35294 secs: sum
-----------
 285230516
(1 row)
select SUM(p001001) from sf1_2000_block_p001 WHERE LEFT(geoid2000,2) != '72';
Finished execution in 3.05067 secs: sum
-----------
 281421906
(1 row)

In [19]:
psql('SELECT MAX(p001001) FROM sf1_2000_int2010_p001')
psql('SELECT MAX(p001001) FROM sf1_2000_block_p001')
psql('SELECT MAX(p001001) FROM sf1_2010_block_p001')

SELECT MAX(p001001) FROM sf1_2000_int2010_p001
Finished execution in 2.07472 secs:
max
------------------
 9887.55843400955
(1 row)
SELECT MAX(p001001) FROM sf1_2000_block_p001
Finished execution in 1.79416 secs:
max
-------
 23373
(1 row)
SELECT MAX(p001001) FROM sf1_2010_block_p001
Finished execution in 2.24097 secs:
max
-------
 19352
(1 row)

Add geoid index to geo2000 table
--------------------------------

In [ ]:
#in hindsight, should have called this geoid2000
psql("ALTER TABLE geo2000 ADD COLUMN geoid CHARACTER(15)",
     database='census2010')

In [ ]:
psql("UPDATE geo2000 SET geoid ="
     " (state || county || tract || block)",
     database='census2010')

In [ ]:
psql("CREATE INDEX ON geo2000 (geoid)",
     database='census2010')

In [ ]:
psql("SELECT geoid FROM geo2000 WHERE sumlev='101' LIMIT 10", database='census2010')

In [ ]:
# Show some 2000 'geoids'
psql("SELECT state || county || tract || block FROM geo2000 WHERE sumlev='101' LIMIT 10", database='census2010')

File identification (FILEID),state/US abbreviation (STUSAB),summary levels (SUMLEV),and the
geographic component codes (GEOCOMP) are critical elements in identifying the geographic level
for each record. The STUSAB field identifies the highest level of geography for the file. In the case
of state file,it identifies the individual state. For SF 1 files,the following FILEID and STUSAB codes
are used:
SF 1 state and state equivalent files uSF1 AL-WY
SF 1 advance national file uSF1A US
SF 1 final national file uSF1F US